{% extends '_layout.html' %}
{% block header %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <h2>친구의 코드를 입력해주세요</h2>
                <form action="{% url 'starting' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="False" name="is_host">
                    <input type="text" name="host_number"/>
                    <div>
                        <input type="submit" value="퀴즈 풀기"/>
                    </div>
                </form>
            </div>
            <form action="{% url 'starting' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="True" name="is_host">
                <input type="submit" value="나도 퀴즈 만들기"/>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}