{% extends '_layout.html' %}
{% load static %}
{% block header %}
    QUIZ {{ current_question }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <form class="card" method="post" action="{% url 'check' pk=player.id %}">
                {% csrf_token %}
                <input type="hidden" name="choice" value="False">
                <button type="submit">
                    <img src="{% static 'false/' %}{{ current_question }}.jpg" alt="선택지1"
                         style="width: 250px; height: 300px;">
                    <p>{{ false }}</p>
                </button>
            </form>
        </div>
        <div class="col-4">
            <form class="card" method="post" action="{% url 'check' pk=player.id %}">
                {% csrf_token %}
                <input type="hidden" name="choice" value="True">
                <button type="submit">
                    <img src="{% static 'true/' %}{{ current_question }}.jpg" alt="선택지2"
                         style="width: 250px; height: 300px;">
                    <p>{{ true }}</p>
                </button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
{% endblock %}